<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YFC MMA IBRATV{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Barlow:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-inner">
            <a href="/" class="logo">YFC<span>MMA</span></a>
            <ul class="nav-links">
                <li><a href="/" class="{{ 'active' if request.path == '/' }}">Accueil</a></li>
                <li><a href="/combats" class="{{ 'active' if request.path == '/combats' }}">Combats</a></li>
                <li><a href="/classements" class="{{ 'active' if request.path == '/classements' }}">Classements</a></li>
                <li><a href="/resultats" class="{{ 'active' if request.path == '/resultats' }}">Résultats</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© YFC MMA IBRATV — Tous droits réservés</p>
        <p> Site non officiel !</p>
    </footer>
    <script src="{{ url_for('static', filename='particles.js') }}"></script>
</body>
</html>
